# PyCharm
.idea/

# Trained models
models/classifier/*
models/language/*

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Tmp folder
Tmp/*